html {
    height: 100%;
}

body {
    background-color: rgb(53, 49, 49);
    height: 100%;
}

header {
    width: 100%;
    margin-bottom: 5px;
}

.screens {
    height: 500px;
    background-color: rgb(122, 121, 121);
    padding: 15px;
    box-shadow: 1px 2px 5px 3px rgb(122, 121, 121);
}

.my-custom-scrollbar {
    max-height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table td:hover {
    cursor: pointer;
}

.parking-space {
    width: 70px;
    height: 70px;
}

.select-parking {
    border-radius: 7px;
    padding: 5px;
}

.hide-screen {
    display: none;
}

.center-text {
    text-align: center;
}

.table-search {
    background-color: rgb(252, 248, 248);
    box-shadow: 3px 3px rgb(94, 92, 92);
    border-radius: 5px;
    position: absolute;
    width: 350px
}

form label {
    color: rgba(0, 0, 0, 0.555);
    font-size: 22px;
    /* font-weight: 200; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h2 {
    color: rgb(248, 245, 245);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#form_search thead th {   
    padding: 3px;
    padding-right: 9px;
}


#form_search_vehicle thead th {
    padding: 3px;
    padding-right: 9px;
}

.close {
    font-size: 15px;
}

.close:hover{
    cursor: pointer;
}

.total {
    color: rgb(17, 85, 17);
    font-size: 28px;
}

.total-text {
    font-size: 28px;
    color: rgb(7, 7, 7);
}