html {
    height: 100%;
}

body {
    background-color: rgb(53, 49, 49);
    height: 100%;
}

header {
    width: 100%;
    margin-bottom: 5px;
}

.screens {
    height: 500px;
    background-color: rgb(122, 121, 121);
    padding: 15px;
    box-shadow: 1px 2px 5px 3px rgb(122, 121, 121);
}

.my-custom-scrollbar {
    max-height: 400px;
    overflow: auto;
}

.table-wrapper-scroll-y {
    display: block;
}

.table td:hover {
    cursor: pointer;
}

.parking-space {
    width: 70px;
    height: 70px;
}

.select-parking {
    border-radius: 7px;
    padding: 5px;
}

.hide-screen {
    display: none;
}
